body{
	background-image: url(background.jpg);
	background-repeat: no-repeat;

}
.casino {
	border-radius: 10px;
	width: 417px;
	margin: 0 auto;
	height: 492
}
#bid {
    margin-bottom: 20px;
    display: block;
    color: black;
    width: 99%;
    height: 25px;
	text-align: center;	
}


.button button {
    width: 100%;
    color: red;
    font-size: 5em;
    }
.view{
	font-size: 150px;
	text-align: center;

}    
.radio {
	text-align: center;
}